<section>
  {% trans %}
    <strong> Push </strong>{{ object }}<strong> to </strong>{{ store }} {{ time }} time.
    {% plural number %}
    <strong> Push </strong>{{ object }}<strong> to </strong>{{ store }} {{ time }} times.
  {% endtrans %}
</section>